.card {
    background-color: pink;
    width: 20%;
    height: 20rem;
    border-radius: 2rem;
    padding: 1rem;
    margin:1rem;
    color: black;
    border: 2px solid black;
}

.card:hover {
    background-image: url(image.png);
    background-size: cover;
    color: white;
}

.desc{
    font-size: large;
}