
.footerdiv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
}